<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.scholarShip.mapper.GradeInfoMapper">

    <resultMap type="GradeInfo" id="GradeInfoResult">
        <result property="gradeId" column="grade_id"/>
        <result property="sno" column="sno"/>
        <result property="stuName" column="stu_name"/>
        <result property="coseId" column="cose_id"/>
        <result property="score" column="score"/>
        <result property="credit" column="credit"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <association property="course" javaType="Course" resultMap="CourseResult"></association>
    </resultMap>

    <resultMap type="Course" id="CourseResult">
        <result property="coseId" column="coseId"/>
        <result property="coseName" column="cose_name"/>
        <result property="startYear" column="start_year"/>
        <result property="validTerm" column="valid_term"/>
        <result property="grade" column="grade"></result>
        <result property="credit" column="cose_credit"></result>
        <result property="courseType" column="course_type"></result>
    </resultMap>

    <sql id="selectGradeInfoVo">
        select distinct  a.grade_id,
               a.sno,
               a.stu_name,
               a.cose_id,
               a.score,
               a.credit,
               a.del_flag,
               a.create_by,
               a.create_time,
               a.update_by,
               a.update_time,
               a.remark,
               b.cose_id as coseId,
               b.cose_name,
               b.start_year,
               b.valid_term,
               b.grade,
               b.credit  as cose_credit,
               b.course_type
        from grade_info a
                 join course b on a.cose_id = b.cose_id
                 join major_course c on b.cose_id = c.course_id
                 join college_major u on c.college_id = u.college_id
                 join stu_info f on a.sno = f.sno and f.major_id=u.college_id
    </sql>

    <select id="selectGradeInfoList" parameterType="GradeInfo" resultMap="GradeInfoResult">
        <include refid="selectGradeInfoVo"/>
        <where>
            <if test="gradeId != null ">and grade_id = #{gradeId}</if>
            <if test="sno != null  and sno != ''">and sno = #{sno}</if>
            <if test="stuName != null  and stuName != ''">and stu_name like concat('%', #{stuName}, '%')</if>
            <if test="coseId != null ">and a.cose_id = #{coseId}</if>
            <if test="score != null ">and score = #{score}</if>
            <if test="credit != null ">and a.credit = #{credit}</if>
            <if test="params.startYear != null and params.startYear != ''">and b.start_year=#{params.startYear}</if>
            <if test="params.grade != null and params.grade != ''">and b.grade=#{params.grade}</if>
            <if test="params.validTerm != null and params.validTerm != ''">and b.valid_term=#{params.validTerm}</if>
            <if test="params.majorName != null and params.majorName != ''">and u.name=#{params.majorName}</if>
<!--            <if test="params.majorNames != null and params.majorNames !=''">-->
<!--                and u.name in-->
<!--                <foreach item="major" collection="params.majorNames" open="(" separator="," close=")">-->
<!--                    #{major}-->
<!--                </foreach>-->
<!--            </if>-->
            <if test="params.stuClass != null and params.stuClass !='' ">
                and f.stuClass=#{params.stuClass} and f.major_id=#{params.stu.majorId}
            </if>
            <if test="params.majorId != null and params.majorId !='' ">
                 and f.major_id=#{params.majorId}
            </if>
        </where>
        order by a.sno desc
    </select>

    <select id="selectGradeInfoByGradeId" parameterType="String" resultMap="GradeInfoResult">
        <include refid="selectGradeInfoVo"/>
        where a.sno = #{sno}
    </select>

    <insert id="insertGradeInfo" parameterType="GradeInfo" useGeneratedKeys="true" keyProperty="gradeId">
        insert into grade_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sno != null">sno,</if>
            <if test="stuName != null">stu_name,</if>
            <if test="coseId != null">cose_id,</if>
            <if test="score != null">score,</if>
            <if test="credit != null">credit,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sno != null">#{sno},</if>
            <if test="stuName != null">#{stuName},</if>
            <if test="coseId != null">#{coseId},</if>
            <if test="score != null">#{score},</if>
            <if test="credit != null">#{credit},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateGradeInfo" parameterType="GradeInfo">
        update grade_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="sno != null">sno = #{sno},</if>
            <if test="stuName != null">stu_name = #{stuName},</if>
            <if test="coseId != null">cose_id = #{coseId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="credit != null">credit = #{credit},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time=sysdate()
        </trim>
        where grade_id = #{gradeId}
    </update>

    <delete id="deleteGradeInfoByGradeId" parameterType="Long">
        delete
        from grade_info
        where grade_id = #{gradeId}
    </delete>

    <delete id="deleteGradeInfoByGradeIds" parameterType="String">
        delete from grade_info where grade_id in
        <foreach item="gradeId" collection="array" open="(" separator="," close=")">
            #{gradeId}
        </foreach>
    </delete>

</mapper>